<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block
		th:replace="~{/layout/basicLayout :: setContent(~{this::content2} )}">
		<th:block th:fragment="content2">
			<h1>게시글</h1>
			<form th:action="@{/webboard/modify}" th:method="post">
				<div class="form-group">
					<label>제목</label> <input type="text" class="form-control"
						name="bno" th:value="${board.bno}" readonly />
				</div>
				<div class="form-group">
					<label>제목</label> <input type="text" class="form-control"
						name="title" placeholder="title입력" th:value="${board.title}" />
				</div>
				<div class="form-group">
					<label>내용</label>
					<textarea name="content" class="form-control" rows="5" cols="20">[[${board.content}]]</textarea>
				</div>
				<div class="form-group">
					<label>작성자ID</label> <input type="text" name="mid"
						class="form-control" th:value="${board.mid}" readonly />
				</div>
				<div class="form-group">
					<label>작성자이름</label> <input type="text" name="mname"
						class="form-control" th:value="${board.mname}" readonly />
				</div>
				<div class="form-group">
					<label>작성일</label> <input type="text" class="form-control"
						th:value="${board.regdate}" readonly />
				</div>
				<div class="form-group">
					<label>수정일</label> <input type="text" class="form-control"
						th:value="${board.updatedate}" readonly />
				</div>
				<button type="button" class="btn btn-primary">수정</button>
			</form>
			<!-- 댓글 추가 -->
			<div>
				<div class="mt-4">
					<h5>
						<button type="button" class="btn btn-primary">
							<span class="badge badge-secondary addReply">Add Reply</span>
						</button>
					</h5>
					<h5>
						<button type="button" class="btn btn-primary">
							<span class="badge badge-secondary replyCount">Reply Count : [[${board.replyCount}]]</span>
						</button>
					</h5>
				</div>
				<div class="list-group replyList"></div>
			</div>
			<!-- Modal -->
			<div class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">등록/수정</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input class="form-control" type="text" name="replyText"
									placeholder="댓글" /> <input class="form-control" type="text"
									name="replyer" placeholder="작성자" /> <input type="hidden"
									name="rno">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning repltModify">수정</button>
							<button type="button" class="btn btn-primary replySave">입력</button>
							<button type="button" class="btn btn-danger replyRemove">삭제</button>
							<button type="button"
								class="btn btn-outline-secondary replyClose"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary btnDelete">삭제</button>
			<script th:inline="javascript">
				var boardNum = /*[[${board.bno}]]*/0;
				$(".btnDelete").click(f_delete);
				$(".addReply").click(f_showModal);
				$("[data-dismiss]").click(f_closeModal);
				$(".replySave").click(f_insertReply);
				
				function f_insertReply(){
					var reply = $('input[name="replyText"]').val();
					var replyer = $('input[name="replyer"]').val();	
					/* var replyDTO = {reply:reply, replyer:replyer, boardBno:boardNum}; */
					var replyDTO = {reply, replyer, boardBno};
					$.ajax({
						url:"replies/register" ,
						method:"post",
						data:JSON.stringify(replyDTO),
						contentType:"application/json;charset=utf-8", //보내는 data
						success:function(responseData){
							alert(responseData + "번 댓글등록됨");
							f_closeModal();
						}
					});
				}
				
				function f_closeModal(){
					$(".modal").hide();
				}
				
				function f_showModal(){
					$(".modal").show();
					$(".modal-footer button").hide();
					$(".replySave.replyClose").show();
					$('input[name="replyText"]').val("");
					$('input[name="replyer"]').val("");					
				}
				
				function f_delete() {
					var formObj = $("form");
					formObj.attr("action", "delete");
					formObj.attr("method", "post");
					formObj.submit();
				}
			</script>
		</th:block>
	</th:block>
</body>
</html>