<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(contentParam)">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<style>
	* {
		margin: 0;
		padding: 0;
	}
	
	.header {
		width: 100vw; /*viewport height :현재 실행중인 스크린 크기에 맞춰 상대적 크기를 반환*/
		height: 20vh;
		background-color: aqua;
	}
	
	.content {
		width: 100vw;
		height: 70vh;
		background-color: lightgray;
	}
	
	.footer {
		width: 100vw;
		height: 10vh;
		background-color: green;
	}
	</style>
		
	</head>
	<body>
	
		<div class="header">
			<h1>Header</h1>
		</div>
	
		<div class="content">
			<h1>content!!!!</h1>
			<th:block th:replace="${contentParam}">
			</th:block>
		</div>
	
		<div class="footer">
			<h1>footer</h1>
		</div>
	</body>
</th:block>
</html>



