<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="~{/layout/basicLayout :: setContent(~{this::content3} )}">
	<th:block th:fragment="content3">   
		<h1>알림(문제발생)</h1>
		<h2 th:text="${msg}"></h2>		 
	    <img th:src="@{/assets/umbrella.jpg}"/>
		<p>시간:[[${errInfo.timestamp}]]</p>
		<p>상태:[[${errInfo.status}]]</p>
		<p>에러:[[${errInfo.error}]]</p>
		<p>메시지:[[${errInfo.message}]]</p>
		<p>요청주소:[[${errInfo.path}]]</p>
		
	</th:block>
	</th:block>
	 

</body>
</html>